.avatar {
  width: auto;
  height: 15em;
  border-radius: 50%;
}

.text-bold {
  font-weight: bold;
}

.row {
  margin-bottom: 1em;
}

h6 {
  font-weight: bold;
}
.status-span {
  padding: 0.5em .75em;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  width: 10em;
  font-size: 0.75em;
  text-align: center;
}
